/*-----------------------------------------------
    Page Loader
-----------------------------------------------*/
.ag-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #FFF;
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.6s;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #EFF7FE;
        transform: translateY(0);
        transform-origin: center;
        transition: all 0.8s cubic-bezier(0.97, 0, 1, 1);
    } 

    span {
        width: 180px;
        height: 180px;
        font-size: 150px;
        font-weight: 600;
        line-height: 160px;
        color: #FFFFFF;
        text-align: center;
        background-color: rgba($brand_blue, 0.1);
        border-radius: 15px;
    }
}

body.loading {
    overflow: hidden;

    .ag-loader {
        transform: scaleY(1);

        &:after {
            transform: translateY(100%);
        }
    }

    .ag-masthead {
        padding-top: 30px;
    }
}

/*-----------------------------------------------
    Cursor
-----------------------------------------------*/
.cursor {
    pointer-events: none;

    .cursor-ball {
        position: fixed;
        top: 0;
        left: 0;
        background-color: $brand_pink;
        border-radius: 50%;
        z-index: 10;
        transition: width 0.25s ease-in-out, height 0.25s ease-in-out,;

        @include mq-max-tablet-landscape {
            display: none;
        }

        &[class*="big"] {
            width: 30px;
            height: 30px;
        }
        &[class*="small"] {
            width: 15px;
            height: 15px;
        }
    }
}

/*-----------------------------------------------
    Header section
-----------------------------------------------*/
body.sticky-header {

    header {
        position: fixed;
        background-color: $white-color;

        .ag-logo {
            height: 58px;

            .ag-logo-primary {
                display: block;
            }
            .ag-logo-white {
                display: none;
            }
        }

        .ag-nav .ag-nav-menu .ag-nav-link {
            color: $midnight_blue_color;
        }

        .ag-header-nav-btn {
            color: $midnight_blue_color;
            border-color: currentColor;
        }

        .ag-menu-toggler span {
            background: $midnight_blue_color;
        }

        &:not(.open-menu) {
            padding: 10px 0;

            @include mq-min-tablet-landscape {
                height: 100px;
            }
        }
    }
}

body.no-scroll {
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: stretch;
    padding-top: 32px;
    transition: padding 0.25s ease;

    @include mq-min-tablet {
        padding-top: 40px;
    }
    @include mq-min-tablet-landscape{
        padding-top: 64px;
    }

    .ag-container {
        display: flex;
        align-items: center;

        @include mq-max-tablet-landscape {
            flex-wrap: wrap;
            align-items: center;
        }

        .ag-logo {
            height: 76px;
            margin-right: 116px;

            @include mq-max-desktop {
                margin-right: 52px;
            }

            @include mq-max-tablet-landscape {
                height: 60px !important;
            }

            @include mq-max-tablet {
                height: 50px !important;
            }

            img {
                height: 100%;
            }

            .ag-logo-primary {
                display: none;
            }
            .ag-logo-white {
                display: block;
            }
        }

        .ag-nav {
            flex: auto;
            display: flex;
            align-items: center;

            .ag-nav-menu {
                display: flex;
                flex: auto;
                margin: 0;
                padding: 0;
                list-style: none;

                .ag-nav-link {
                    display: block;
                    color: $white_color;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 140%;
                    padding: 8px 12px;
                    margin: 0 12px;

                    @include mq-max-tablet {
                        font-size: 38px;
                    }
                }
            }

            @include mq-max-tablet-landscape {
                display: none;
                order: 2;
                width: 100%;
                width: 100%;
                flex-direction: column;
                align-items: unset;
                visibility: hidden;
                transform: translateY(-15%);
                transition: all 0.5s ease;

                &.open {
                    visibility: visible;
                    transform: translateY(0);
                }

                .ag-nav-menu {
                    display: flex;
                    flex-direction: column;

                    .ag-nav-link {
                        color: $primary_color;
                        font-size: 57.43px;
                        line-height: 125%;
                        margin: 0;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }

        .ag-menu-toggler {
            margin-left: auto;
            position: relative;
            padding: 0;
            width: 32px;
            height: 45px;
            transform: rotate(0deg);
            background: none;
            border: none;
            transition: .5s ease-in-out;
            
            @include mq-min-tablet-landscape {
                display: none;
            }

            &.open {
                span {
                    background-color: $primary_color;
                }
                span:nth-child(1) {
                    top: 14px;
                    width: 0%;
                    left: 50%;
                }

                span:nth-child(2) {
                    transform: rotate(45deg);
                }

                span:nth-child(3) {
                    transform: rotate(-45deg);
                }

                span:nth-child(4) {
                    top: 14px;
                    width: 0%;
                    left: 50%;
                }
            }

            span {
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: $white_color;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 4px;
                }

                &:nth-child(2), &:nth-child(3) {
                    top: 14px;
                }

                &:nth-child(4) {
                    top: 24px;
                }
            }
        }
    }

    &:before {
        content: '';
        width: 100%;
        height: 100vh;
        background-color: $white_color;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.25s ease;
    }

    &.open-menu {
        height: 100%;

        &:before {
            transform: scaleX(1);
        }

        @include mq-max-tablet-landscape {
            .ag-container {
                align-items: start;
            }
        }


        .ag-logo {
            .ag-logo-primary {
                display: block;
            }
            .ag-logo-white {
                display: none;
            }
        }

        .ag-nav {
            display: flex;
        }
    }

    .ag-header-nav-btn {
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        color: $primary_color;
        margin-top: 40px;

        @include mq-min-tablet {
            font-size: 32px;
        }

        @include mq-min-tablet-landscape {
            margin-top: 0;
            padding: 15px 25px;
            border: 1px solid #FFFFFF;
            border-radius: 95px;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: $white_color;
            transition: all 0.25s ease;

            &.active, &:active, &:hover, &:focus {
                color: $primary_color;
                background-color: $white_color;
            }
        }
    }
}


/*-----------------------------------------------
    Masthead Section
-----------------------------------------------*/
body {
    padding-top: 100vh;
}

.ag-masthead {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: stretch;
    padding-top: 0;
    background-color: $midnight_blue_color;
    transition: padding 0.4s ease-out 0.8s;

    .ag-masthead-video-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow: hidden;
        background-image: url('../img/masthead-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        iframe {
            width: 100vw;
            height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
            min-height: 112vh;
            min-width: 189.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .ag-masthead-video-overlay {
            width:100%;
            height:100%;
            position:absolute;
            background-color:$primary_color;
            mix-blend-mode:color;
        }
        .ag-masthead-video-overlay2 {
            width:100%;
            height:100%;
            position:absolute;
            background-color:$midnight_blue_color;
            mix-blend-mode:multiply;
            opacity:0.8;
        }
    }

    .ag-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 82px;

        @include mq-min-tablet-landscape {
            padding-top: 140px;
        }
        @include mq-min-tablet {
            padding-top: 100px;
        }
    }

    .ag-masthead-title {
        cursor: default;
        margin: auto 0;
        /* width: 90%;
        max-width: 1062px; */

        .typing-txt {
            color: $secondary_color;
        }
    }

    .ag-masthead-scroll-link {
        position: relative;
        color: $white_color;
        padding-left: 66px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 48px;

        @include mq-min-tablet-landscape {
            margin-bottom: 64px;
        }
        @include mq-min-desktop {
            margin-bottom: 80px;
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-image: url('../img/down-arrow.svg');
            background-color: #2F4E7C;
            background-size: 20px;
            background-position: center 17px;
            background-repeat: no-repeat;
            animation: scrollDown 2s ease 1s infinite;
        }
    }
}

@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: translateY(-80%);
    }
    60% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes radialRotation {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(360deg);
    }
}

/*-----------------------------------------------
    Who We Are Section
-----------------------------------------------*/
.who-we-are {
    padding-top: 64px;
    padding-bottom: 64px;
    overflow-x: hidden;

    @include mq-min-tablet {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include mq-min-tablet-landscape {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    @include mq-min-desktop {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    .section-heading {
        margin: 0;

        @include mq-max-tablet-landscape {
            margin-bottom: 48px;
        }
        @include mq-max-tablet {
            margin-bottom: 32px;
        }
    }

    .who-we-are-banner {
        position: relative;
        overflow: hidden;
        margin-top: 48px;
        margin-bottom: 48px;

        @include mq-min-tablet {
            margin-top: 64px;
            margin-bottom: 64px;
        }

        @include mq-min-tablet-landscape {
            margin-top: 80px;
            margin-bottom: 80px;
        }
        @include mq-min-desktop {
            margin-top: 112px;
            margin-bottom: 112px;
        }

        .who-we-are-banner-heading {
            color: $white_color;
            font-size: 38.8874px;
            font-weight: bold;
            line-height: 125%;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-shadow: 0px 6.09354px 36.5612px rgba(0, 0, 0, 0.15);

            @include mq-min-tablet {
                font-size: 38.6606px;
            }

            @include mq-min-tablet-landscape {
                font-size: 64.693px;
            }

            @include mq-min-desktop {
                font-size: 78.6199px;
            }
        }

        .who-we-are-banner-rect {
            position: absolute;
            top: 50%;
            left:0;
            transform: translateY(-50%);
            width: 204px;
            height: 204px;
            border-radius: 50%;
            background: #E86DBD;
            mix-blend-mode: lighten;
            opacity: 0.75;

            @include mq-max-tablet {
                left:50% !important;
                transform: translate(-50%, -50%) !important;
            }

            @include mq-min-tablet {
                width: 217.35px;
                height: 217.35px;
            }

            @include mq-min-tablet-landscape {
                width: 336.53px;
                height: 336.53px;   
            }

            @include mq-min-desktop {
                width: 441px;
                height: 441px;
            }
        }
    }
}

.ag-carousel {
    position: relative;
    cursor: grab;

    .ag-carousel-cursor {
        width: 150px;
        height: 150px;
        background-color: $brand_pink;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        pointer-events: none;
        z-index: 2;
        transition: opacity 0.25s ease-in-out;

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 11;
            opacity: 0;
        }

        &.initial {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            opacity: 1;
        }
    }

    &:hover {
        .ag-carousel-cursor.initial {
            opacity: 0;
        }
        .ag-carousel-cursor.fixed {
            opacity: 1;
        }
    }

    .ag-carousel-items {
        display: flex;
        align-items: stretch;
        margin-bottom: 48px;
        padding-left: 5rem;
        user-select: none;
        overflow: hidden;
        transform: translateX(0);
        transition: transform 0.25s ease;

        @include mq-min-tablet-landscape {
            margin-bottom: 80px;
        }

        @include mq-min-desktop {
            margin-bottom: 112px;
        }

        .ag-carousel-item {
            flex: 0 0 100%;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include mq-min-tablet {
                max-width: calc(50% - 26.5px);
                margin-left: 51px;
                padding-right: 0;
            }

            @include mq-min-tablet-landscape {
                max-width: calc(33.33% - 44px);
                margin-left: 65px;
            }

            @include mq-min-desktop {
                max-width: calc(30% - 40px);
                margin-left: 81px;
            }

            &:first-child {
                margin-left: 0;
            }

            .ag-carousel-item-logo {
                display: block;
                margin-bottom: 32px;
            }

            p {
                margin-top: auto;
                margin-bottom: 24px;

                @include mq-min-tablet {
                    margin-bottom: 28px;
                }
            }
        }
    }

    .ag-carousel-marker-wrapper {
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
        height: 3px;
        background-color: rgba($primary_color, 0.1);

        .ag-carousel-marker {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 25%;
            background-color: $secondary_color;
        }
    }
}

/*-----------------------------------------------
    Evolve Section
-----------------------------------------------*/
.evolve-section {
    height: auto;
    overflow: hidden;

    @include mq-min-tablet-landscape {
        height: 100vh;
    }


    .ag-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 64px;

        @include mq-min-tablet {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        @include mq-min-tablet-landscape {
            flex-direction: row;
        }
    }

    .evolve-section-logo-area {
        order: 2;
        position: relative;

        @include mq-min-tablet-landscape {
            order: unset;
        }

        .bg-radial {
            display: none;

            @include mq-min-tablet-landscape {
                display: block ;
                height: calc(100% + 335px);
                width: calc(100% + 335px);
                top: -167px;
                left: -167px;
            }
            @include mq-min-desktop {
                height: calc(100% + 416px);
                width: calc(100% + 416px);
                top: -208px;
                left: -208px;
            }
        }

        .evolve-section-logo-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 372px;
            height: 372px;
            border-radius: 50%;

            @include mq-min-tablet {
                width: 690px;
                height: 690px;
            }

            @include mq-min-tablet-landscape {
                width: 500px;
                height: 500px;
            }

            @include mq-min-desktop {
                width: 628px;
                height: 628px;
            }

            .evolve-section-logo {
                height: calc(100% - 149px);
                width: calc(100% - 149px);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                @include mq-min-tablet {
                    width: 414px;
                    height: 414px;
                }

                @include mq-min-tablet-landscape {
                    width: 300px;
                    height: 300px;
                }

                @include mq-min-desktop {
                    width: 400px;
                    height: 400px;
                }

                img {
                    @include mq-min-tablet {
                        width: 245px;
                    }

                    @include mq-min-tablet-landscape {
                        width: 145px;
                    }

                    @include mq-min-desktop {
                        width: 200.78px;
                    }
                }
            }
        }
    }

    .evolve-section-text-area {
        padding-bottom: 32px;

        @include mq-min-tablet {
            padding-bottom: 48px;
        }

        @include mq-min-tablet-landscape {
            padding-left: 48px;
            padding-bottom: 0;
        }

        @include mq-min-desktop {
            padding-left: 112px;
        }

        h3 {
            margin-bottom: 32px;

            @include mq-min-tablet {
                margin-bottom: 48px;
            }

            @include mq-min-desktop {
                margin-bottom: 112px;
            }
        }
    }
}

/*-----------------------------------------------
    Dark Mode
-----------------------------------------------*/
body {
    transition: all 0.5s ease-in-out;

    .bg-white {
        transition: all 0.5s ease-in-out;
    }
}
body.dark {
    color: $white_color;
    background-color: $primary_color;
    transition: all 0.5s ease-in-out;

    * {
        color: $white_color;
    }

    .dark-visible {
        display: block;
    }
    .dark-hidden {
        display: none;
    }

    .bg-white {
        background-color: $primary_color;
        transition: all 0.5s ease-in-out;
    }

    .ag-carousel .ag-carousel-marker-wrapper {
        background-color: rgba($white_color, 0.1);

        .ag-carousel-marker {
            background-color: $white_color;
        }
    }

    .what-we-do .feature-grid-container .feature-grid .feature-grid-item .feature-grid-item-content {
        * {
            color: $default-text-color;
        }

        .copy-link {
            color: $primary_color;
        }
    }

    .evolve-section .evolve-section-logo-area .evolve-section-logo-container {
        background: linear-gradient(180deg, #28436c 0%, rgba(40, 67, 108, 0.2) 100%);
    }
    .evolve-section .evolve-section-logo-area .evolve-section-logo-container .evolve-section-logo {
        background: $primary_color;
    }
}

body:not(.dark) {
    .evolve-section {

        .section-title {
            color: $primary_color;
        }
    }

    .dark-visible {
        display: none;
    }
    .dark-hidden {
        display: block;
    }
}
/*-----------------------------------------------
    What We So Section
-----------------------------------------------*/
.what-we-do {
    padding-top: 64px;
    padding-bottom: 64px;

    @include mq-min-tablet {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include mq-min-tablet-landscape {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    @include mq-min-desktop {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .section-subheading {
        margin-bottom: 24px;

        @include mq-min-desktop {
            margin-bottom: 32px;
        }
    }

    .section-heading {
        margin-bottom: 48px;

        @include mq-min-tablet {
            margin-bottom: 64px;
        }

        @include mq-min-tablet-landscape {
            margin-bottom: 80px;
        }

        @include mq-min-desktop {
            margin-bottom: 112px;
        }
    }

    .feature-grid-container {
        display: flex;
        align-items: center;
        background: $sky_blue;
        padding: 32px;
        padding-bottom: 40px;

        @include mq-min-tablet {
            flex-direction: column;
            padding-left: 15px;
            padding-right: 15px;
        }

        @include mq-min-tablet-landscape {
            padding-top: 76.97px;
            padding-left: 61.18px;
            padding-right: 61.18px;
            padding-bottom: 72.36px;
        }

        @include mq-min-desktop {
            padding-top: 96.28px;
            padding-left: 76.52px;
            padding-right: 76.52px;
            padding-bottom: 90.51px;
        }

        .feature-grid {
            display: flex;
            flex-direction: column;
            max-width: 100%;

            @include mq-min-tablet {
                flex-direction: row;
                justify-content: space-between;
            }


            .feature-grid-item {
                background: $white_color;
                border-radius: 5px;
                padding: 30px 26px 35px;
                margin-bottom: 45px;
                position: relative;
                display: flex;

                &:last-child {
                    margin-bottom: 0;
                }

                @include mq-min-tablet {
                    margin-bottom: 0;
                    max-width: calc(25% - 25px);
                    flex-direction: column;
                    text-align: center;
                    padding-top: 23px;
                    padding-left: 15px;
                    padding-right: 15px;
                }

                &:after {
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: calc(100% + 15px);
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    background-image: url('../img/down-arrow-pale-blue.svg');
                    background-size: contain;

                    @include mq-min-tablet {
                        width: 15px;
                        height: 15px;
                        top: 50%;
                        left: calc(100% + 10px);
                        right: auto;
                        margin: 0;
                        transform: translateY(-50%) rotate(-90deg);
                    }
                }
                &:last-child:after {
                    background: none;
                }

                .feature-grid-item-index {
                    font-weight: 600;
                    font-size: 25.7602px;
                    line-height: 125%;
                    color: $brand_blue;
                    margin-top: -6px;

                    @include mq-min-tablet {
                        margin-top: 0;
                        margin-bottom: 15px;
                    }
                }
                &:nth-child(2) .feature-grid-item-index {
                    color: $brand_pink;
                }
                &:nth-child(3) .feature-grid-item-index {
                    color: $brand_purple;
                }
                &:nth-child(4) .feature-grid-item-index {
                    color: $brand_green;
                }

                .feature-grid-item-content {
                    padding-left: 21px;

                    @include mq-min-tablet {
                        padding-left: 0;
                    }
                }
            }
        }


        .feature-grid-bracket {
            display: flex;
            flex-direction: column;
            height: 90%;
            margin: auto 0;
            margin-left: 10px;

            .feature-grid-bracket-left-top,
            .feature-grid-bracket-right-bottom {
                flex: auto;
            }

            .feature-grid-bracket-left-top {
                img:first-child {
                    display: none;
                }
            }
            .feature-grid-bracket-right-bottom {
                order: 2;

                img:first-child {
                    display: none;
                }
            }

            span {
                white-space: nowrap;
                writing-mode: vertical-rl;
                text-align: center;
                transform: rotate(180deg) translateX(-22px);
                padding: 25px 0;
            }

            @include mq-min-tablet {
                flex-direction: row;
                height: auto;
                margin: auto;
                margin-top: 10px;
                width: 90%;

                .feature-grid-bracket-left-top {
                    img:first-child {
                        display: block;
                        width: 100%;
                    }
                    img:last-child {
                        display: none;
                    }
                }
                .feature-grid-bracket-right-bottom {

                    img:first-child {
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                    img:last-child {
                        display: none;
                    }
                }

                span {
                    transform: none;
                    writing-mode: unset;
                    padding: 0 5px 0 10px;
                    align-self: flex-end;
                    margin-top: 13px;
                }
            }
        }
    }

    .feature-list-container {

        .feature-list-item {
            margin-top: 48px;

            @include mq-min-tablet {
                margin-top: 64px;
            }

            @include mq-min-tablet-landscape {
                margin-top: 80px;
            }

            @include mq-min-desktop {
                margin-top: 112px;
            }

            .feature-list-item-title {
                margin-bottom: 28px;

                .feature-list-item-index {
                    padding-right: 10px;
                    color: $brand_blue;
                }
            }

            &:nth-child(2) .feature-list-item-index {
                color: $brand_pink;
            }
            &:nth-child(3) .feature-list-item-index {
                color: $brand_purple;
            }
            &:nth-child(4) .feature-list-item-index {
                color: $brand_green;
            }

            .feature-list-item-details, .feature-list-item-service-title {
                margin-bottom: 24px;
            }

            .feature-list-item-service-title {
                @include mq-min-tablet-landscape {
                    margin-top: 15px;
                }
            }
        }
    }
}


/*-----------------------------------------------
    How We Think Section
-----------------------------------------------*/
.how-we-think {

    .section-heading {
        margin-bottom: 16px;

        @include mq-min-tablet-landscape {
            margin-bottom: 24px;
        }

        @include mq-min-desktop {
            margin-bottom: 56px;
        }
    }
}

.rotate-banner {
    overflow: hidden;
    margin-bottom: 64px;

    @include mq-min-tablet {
        margin-bottom: 80px;
    }

    @include mq-min-tablet-landscape {
        margin-bottom: 96px;
    }

    @include mq-min-desktop {
        margin-bottom: 160px;
    }

    .rotate-banner-text {
        //font-size: 49.57px;
        font-size: calc(49.57px + (102 - 49.57) * ((100vw - 320px) / (1750 - 320)));
        line-height: 1;
        font-weight: 600;
        color: #EFF7FE;
        white-space: nowrap;
        display: inline-block;
        width: 18ch;
        padding: 0 15px;
        user-select: none;
        cursor: default;
        text-shadow: 18ch 0 currentColor,
                    calc(18ch * 2) 0 currentColor;
        animation: marquee 5s linear infinite;

        /* @include mq-min-tablet {
            font-size: 54.72px;
        }
        @include mq-min-tablet-landscape {
            font-size: 72.97px;
        }
        @include mq-min-desktop {
            font-size: 102px;
        } */
    }
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


.single-post-item {
    display: block;
    margin-top: 32px;

    .single-post-item-thumbnail {
        display: flex;
        overflow: hidden;
    }

    .single-post-item-title {
        margin-bottom: 0;
    }


    @include mq-min-tablet {
        margin-top: 48px;
    }

    @include mq-min-tablet-landscape {
        margin-top: 56px;

        .single-post-item-thumbnail {
            
            img {
                transform-origin: 50% 50%;
                transition: transform .6s;
            }
        }

        &:hover {
            .single-post-item-thumbnail img {
                transform: scale(1.2);
            }
        }
    } 

    @include mq-min-desktop {
        padding-bottom: 28px;

        &:after {
            display: block;
            height: 19px;
            position: absolute;
            bottom: 0;
            left: 0;
            content: url('../img/news-post-arrow.svg');
            opacity: 0;
            transform: translateX(-100%);
            transition: all 0.5s ease;
        }

        &:hover {
            &:after {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    .single-post-item-category-date {
        margin-top: 12px;
        margin-bottom: 8px;

        @include mq-min-tablet {
            margin-top: 28px;
            margin-bottom: 12px;
        }

        span {
            display: inline-block;
        }
    }
}


/*-----------------------------------------------
    Know More Section
-----------------------------------------------*/
.know-more {
    padding-top: 64px;
    padding-bottom: 64px;

    @include mq-min-tablet {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include mq-min-tablet-landscape {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    @include mq-min-desktop {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .section-heading {
        margin-bottom: 48px;

        @include mq-min-tablet {
            margin-bottom: 64px;
        }
        @include mq-min-tablet-landscape {
            margin-bottom: 80px;
        }

        @include mq-min-desktop {
            margin-bottom: 112px;
        }
    }
}

.collapsible-section {
    
    @include mq-min-tablet {
        max-width: 690px;
    }

    .collapsible-item {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(30, 51, 86, 0.15);

        .collapsible-item-header {
            display: flex;
            cursor: pointer;

            &:before {
                content: '';
                display: inline-block;
                margin-right: 13px;
                width: 24px;
                height: 24px;
                background-image: url('../img/plus.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .collapsible-item-content {
            padding-top: 0px;
            max-height: 0;
            opacity: 0;
            transition: all 0.25s ease;
            pointer-events: none;

            &:before {
                content: '';
                display: block;
                height: 0;
                transition: all 0.5s ease;
                pointer-events: none;
            }
        }

        &.open {
            .collapsible-item-header:before {
                background-image: url('../img/minus.svg');
            }

            .collapsible-item-content {
                max-height: 1000px;
                opacity: 1;
                pointer-events: all;

                &:before {
                    height: 48px;

                    @include mq-min-tablet-landscape {
                        height: 56px;
                    }
                }
            }
        }
    }
}


/*-----------------------------------------------
    Contact Us Section
-----------------------------------------------*/

.contact-us {
    padding-top: 64px;
    padding-bottom: 128px;
    position: relative;
    overflow: hidden;
    background-color: $midnight_blue_color;

    .bg-radial {
        width: 758px;
        height: 758px;
        left: 3px;
        top: -31px;

        svg {
            filter: invert(1);
        }

        @include mq-min-tablet {
            width: 913px;
            height: 913px;
            left: 30px;
            top: -30px;
        }
        @include mq-min-tablet-landscape {
            width: 1000px;
            height: 1000px;
            left: -50px;
            top: -25px;
        }

        @include mq-min-desktop {
            width: 1370px;
            height: 1370px;
            left: 125px;
            top: -114px;
        }
    }

    @include mq-min-tablet {
        padding-top: 80px;
        padding-bottom: 160px;
    }
    @include mq-min-tablet-landscape {
        padding-top: 96px;
        padding-bottom: 192px;
    }

    @include mq-min-desktop {
        padding-top: 160px;
        padding-bottom: 320px;
    }

    .ag-form {
        margin-top: 48px;

        @include mq-min-tablet {
            margin-top: 64px;
        }
        @include mq-min-tablet-landscape {
            margin-top: 0px;
        }

        .ag-btn {
            margin-top: 48px;

            @include mq-min-tablet-landscape{
                margin-top: 56px;
            }
        }
    }
}

.bg-radial {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    svg {
        opacity:0.1;
        height:100%;
        width:auto;
        mix-blend-mode:soft-light;
    }
}