/*-----------------------------------------------
    General Styling
-----------------------------------------------*/
* {
  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
}

body {
    position: relative;
    color: $default-text-color;
    font-size: 16px;
    font-family: $font_gilroy;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    overflow-x: hidden;
}
button, input, optgroup, select, textarea {
    font-family: $font_gilroy;
}
a,
button,
.btn {
  cursor: pointer;
}

*:focus {
  outline: 0;
  box-shadow: none;
}

img {
  max-width: 100%;
}

a {
    text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

/*-----------------------------------------------
    Typography
-----------------------------------------------*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: bold;
    line-height: 125%;
    margin-top: 0;
}

h1, .h1 {
    font-size: calc(48.83px + (76.3 - 48.83) * ((100vw - 320px) / (1750 - 320)));
    /* font-size: 48.83px;

    @include mq-min-small {
        font-size: 50.64px;
    }
    @include mq-min-mobile {
        font-size: 57.43px;
    }
    @include mq-min-tablet {
        font-size: 62.35px;
    }
    @include mq-min-tablet-landscape {
        font-size: 70.38px;
    }
    @include mq-min-desktop {
        font-size: 76.3px;
    } */
}

h2, .h2 {
    font-size: calc(39.06px + (61 - 39.06) * ((100vw - 320px) / (1750 - 320)));
    /* font-size: 39.06px;

    @include mq-min-small {
        font-size: 40.50px;
    }
    @include mq-min-mobile {
        font-size: 45.95px;
    }
    @include mq-min-tablet {
        font-size: 49.88px;
    }
    @include mq-min-tablet-landscape {
        font-size: 56.28px;
    }
    @include mq-min-desktop {
        font-size: 61px;
    } */
}

h3, .h3 {
    font-size: calc(31.25px + (48.8 - 31.25) * ((100vw - 320px) / (1750 - 320)));
    /* font-size: 31.25px;

    @include mq-min-small {
        font-size: 32.41px;
    }
    @include mq-min-mobile {
        font-size: 36.76px;
    }
    @include mq-min-tablet {
        font-size: 39.90px;
    }
    @include mq-min-tablet-landscape {
        font-size: 45.02px;
    }
    @include mq-min-desktop {
        font-size: 48.8px;
    } */
}

h4, .h4 {
    font-size: calc(25px + (39.1 - 25) * ((100vw - 320px) / (1750 - 320)));

    /* font-size: 25px;

    @include mq-min-small {
        font-size: 25.92px;
    }
    @include mq-min-mobile {
        font-size: 29.40px;
    }
    @include mq-min-tablet {
        font-size: 31.92px;
    }
    @include mq-min-tablet-landscape {
        font-size: 36.01px;
    }
    @include mq-min-desktop {
        font-size: 39.1px;
    } */
}

h5, .h5 {
    font-size: calc(20px + (31.3 - 20) * ((100vw - 320px) / (1750 - 320)));
    /* font-size: 20px;

    @include mq-min-small {
        font-size: 20.74px;
    }
    @include mq-min-mobile {
        font-size: 23.52px;
    }
    @include mq-min-tablet {
        font-size: 25.54px;
    }
    @include mq-min-tablet-landscape {
        font-size: 28.81px;
    }
    @include mq-min-desktop {
        font-size: 31.3px;
    } */
}

h6, .h6 {
    font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (1750 - 320)));
    /* font-size: 18px;

    @include mq-min-small {
        font-size: 18.46px;
    }
    @include mq-min-mobile {
        font-size: 20.19px;
    }
    @include mq-min-tablet {
        font-size: 21.45px;
    }
    @include mq-min-tablet-landscape {
        font-size: 23.48px;
    }
    @include mq-min-desktop {
        font-size: 25px;
    } */
}

p, .copy {
    font-weight: normal;
    //font-size: 16px;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1750 - 320)));
    line-height: 140%;
    margin-top: 0;

    /* @include mq-min-small {
        font-size: 16.26px;
    }
    @include mq-min-mobile {
        font-size: 17.25px;
    }
    @include mq-min-tablet {
        font-size: 17.97px;
    }
    @include mq-min-tablet-landscape {
        font-size: 19.13px;
    }
    @include mq-min-desktop {
        font-size: 20px;
    } */
}
.copy-link {
    font-weight: 600;
    //font-size: 16px;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1750 - 320)));
    line-height: 140%;
    color: $primary_color;

    /* @include mq-min-small {
        font-size: 16.26px;
    }
    @include mq-min-mobile {
        font-size: 17.25px;
    }
    @include mq-min-tablet {
        font-size: 17.97px;
    }
    @include mq-min-tablet-landscape {
        font-size: 19.13px;
    }
    @include mq-min-desktop {
        font-size: 20px;
    } */
}
small, .small {
    font-weight: normal;
    //font-size: 14px;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1750 - 320)));
    line-height: 140%;

    /* @include mq-min-small {
        font-size: 14.13px;
    }
    @include mq-min-mobile {
        font-size: 14.63px;
    }
    @include mq-min-tablet {
        font-size: 14.98px;
    }
    @include mq-min-tablet-landscape {
        font-size: 15.57px;
    }
    @include mq-min-desktop {
        font-size: 16px;
    } */
}
.small-link {
    font-weight: 600;
    //font-size: 14px;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1750 - 320)));
    line-height: 140%;
    color: $primary_color;

    /* @include mq-min-small {
        font-size: 14.13px;
    }
    @include mq-min-mobile {
        font-size: 14.63px;
    }
    @include mq-min-tablet {
        font-size: 14.98px;
    }
    @include mq-min-tablet-landscape {
        font-size: 15.57px;
    }
    @include mq-min-desktop {
        font-size: 16px;
    } */
}

.small-list {
    font-weight: normal;
    //font-size: 14.13px;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1750 - 320)));
    line-height: 170%;

    /* @include mq-min-mobile {
        font-size: 14.63px;
    }
    @include mq-min-tablet {
        font-size: 14.98px;
    }
    @include mq-min-tablet-landscape {
        font-size: 15.57px;
    }
    @include mq-min-desktop {
        font-size: 16px;
    } */
}

.micro {
    font-weight: 800;
    //font-size: 12px;
    font-size: calc(12px + (12.8 - 12) * ((100vw - 320px) / (1750 - 320)));
    line-height: 140%;

    /* @include mq-min-small {
        font-size: 12.05px;
    }
    @include mq-min-mobile {
        font-size: 12.25px;
    }
    @include mq-min-tablet {
        font-size: 12.39px;
    }
    @include mq-min-tablet-landscape {
        font-size: 12.63px;
    }
    @include mq-min-desktop {
        font-size: 12.8px;
    } */
}



/*-----------------------------------------------
    Buttons
-----------------------------------------------*/
.ag-btn {
    font-weight: 600;
    font-size: 14px;
    font-size: calc(14.63px + (16 - 14.63) * ((100vw - 320px) / (1750 - 320)));
    line-height: 140%;
    padding: 15px 25px;
    border: 0 none;

    @include mq-max-tablet {
        font-size: 14.63px;
    }

    &:active, &.active {
        color: $white_color;
        background-color: $btn_active_color;
    }

    &:disabled, &.disabled {
        opacity: 0.1;
        cursor: not-allowed;
        user-select: none;
    }
}

.ag-btn-round {
    border-radius: 95px;
}

.ag-outline-white-btn {
    border: 1px solid #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: $white_color;
    transition: all 0.25s ease;

    &.active, &:active, &:hover, &:focus {
        color: $primary_color;
        background-color: $white_color;
    }
}

.ag-btn-info {
    color: $white_color;
    background-color: $secondary_color;
}

.ag-btn-white {
    color: $primary_color;
    background-color: $white_color;
}


/*-----------------------------------------------
    Links
-----------------------------------------------*/
.link-underline {
    position: relative;
    padding: 0 2px;
    display: inline-block;

    &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 2px;
        height: 1px;
        width: calc(100% - 2px);
        background-color: $pale_blue;
        transform: scaleX(1);
        transform-origin: left center;
        transition: all 0.25s ease;
    }
    
    &:hover:before {
        transform: scaleX(0);
    }

    &:focus, &:active {
        color: $primary_color;
        background-color: $pale_blue;

        &:before {
            display: none;
        }
    }

    &.link-external {
        &:before {
            width: calc(100% - 27px);
        }
    }
}

.link-external {
    position: relative;
    display: inline-block;

    &:after {
        margin-left: 8px;
        font-family: IcoFont !important;
        content: "\ef1f";
        font-size: 14px;
    }
}

/*-----------------------------------------------
    Form
-----------------------------------------------*/
.ag-form {

    .ag-form-group {
        display: block;
        margin-bottom: 28px;

        label {
            display: block;
            margin-bottom: 12px;
        }

        .ag-form-input {
            display: block;
            width: 100%;
            padding: 12px 24px;
            color: $primary_color;
            background-color: $white_color;
            border: 2px solid $pale_blue;
            font-weight: normal;
            font-size: 16px;
            line-height: 140%;
            transition: all 0.1s ease-in-out;

            &:focus {
                border-color: $primary_color;
                box-shadow: 0px 0px 1px 3px rgba($secondary_color, 0.5);
            }

            @include mq-min-small {
                font-size: 16.26px;
            }
            @include mq-min-mobile {
                font-size: 17.25px;
            }
            @include mq-min-tablet {
                font-size: 17.97px;
            }
            @include mq-min-tablet-landscape {
                font-size: 19.13px;
            }
            @include mq-min-desktop {
                font-size: 20px;
            }
        }

        .error-msg {
            color: $danger-color;
            font-weight: 600;
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1750 - 320)));
            display: block;
            margin-top: 8px;
        }

        &.has-error {

            .ag-form-input {
                border-color: $danger_color;

                &:focus {
                    box-shadow: 0px 0px 1px 3px rgba($danger_color, 0.5);
                }
            }
        }

    }

    .privacy-txt {
        margin-top: 28px;
        margin-bottom: 28px;
    }
}

/*--------- Fade In on Scroll -----------*/
.scroll-fade {
    opacity: 0;
    transition:  opacity 0.4s ease;

    &.fade-in {
        opacity: 1;
    }
}