/*-----------------------------------------------
    Container
-----------------------------------------------*/

.ag-container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

/*-----------------------------------------------
    Grid
-----------------------------------------------*/
.ag-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 7%;


    [class*="ag-col"] {
        position: relative;
        width: 100%;
        min-height: 1px;
        grid-column: span 12;

        &.ag-col-md-6 {
            @include mq-min-tablet-landscape {
                grid-column: span 6;
            }
        }

        &.ag-col-sm-6 {
            @include mq-min-tablet {
                grid-column: span 6;
            }
        }
    }

}