/*-----------------------------------------------
    Container
-----------------------------------------------*/

.ag-container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;

    @include mq-min-desktop {
        width: 80%;
    }
}

/*-----------------------------------------------
    Grid
-----------------------------------------------*/

.ag-row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;


    [class*="ag-col"] {
        position: relative;
        width: 100%;
        min-height: 1px;
        flex: 0 0 100%;
    }

    .ag-col-sm-6 {
        @include mq-min-tablet {
            max-width: calc(50% - 3.5%);
        }
    }
    .ag-col-md-6 {
        @include mq-min-tablet-landscape {
            max-width: calc(50% - 3.5%);
        }
    }

}