.sr-only {
    text-indent: -9999px;
}
.full-view-height {
    height: 100vh;
}

/*----- Text Color --------*/
.text-primary {
    color: $primary_color;
}
.text-default {
    color: $default-text-color;
}
.text-pale-blue {
    color: $pale_blue;
}
.text-white {
    color: $white_color;
}
.text-pink {
    color: $brand_pink;
}


/*----- Background Color --------*/
.bg-primary {
    background-color: $primary_color;
}
.bg-white {
    background-color: $white_color;
}

/*----- Display --------*/
.d-block {
    display: block;
}

.md-block {

    @include mq-min-tablet-landscape {
        display: block;
    }
}
/*----- Margin --------*/
.m-0 {
    margin: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}

.mb-2 {
    margin-bottom: 2rem;
}



/*----- Text-Align --------*/
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right;
}
.text-upper {
    text-transform: uppercase;
}


/*----- Lists --------*/
.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*----- Positions --------*/
.pos-rel {
    position: relative;
}

/*----- Z-Index --------*/
.z-2 {
    z-index: 2;
}