.sr-only {
    text-indent: -9999px;
}
.full-view-height {
    height: 100vh;
}

/*----- Text Color --------*/
.text-primary {
    color: $primary_color;
}

.text-pale-blue {
    color: $pale_blue;
}
.text-white {
    color: $white_color;
}


/*----- Background Color --------*/
.bg-primary {
    background-color: $primary_color;
}

/*----- Margin --------*/
.m-0 {
    margin: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}



/*----- Text-Align --------*/
.text-center {
    text-align: center !important;
}
