// Objects: Grid

.#{$prefix}-g-grid {
  width: 80%;
  padding-top: $tm-grid-gutter;
  padding-right: $tm-grid-gutter;
  margin: 0 auto;
  font-size: 0;

  &::after,
  &::before {
    content: '';
    display: table;
    line-height: 0;
  }

  &::after {
    clear: both;
  }
  @media screen and (max-width: $tm-mq-desktop) {
    max-width: $tm-mq-tablet;
  }
  @media screen and (max-width: $tm-mq-tablet) {
    max-width: $tm-mq-mobile;
  }
  @media screen and (max-width: $tm-mq-mobile) {
    width: 100%;
    max-width: none;
  }
}

.#{$prefix}-g-grid .#{$prefix}-g-grid {
  width: calc(100% + #{$tm-grid-gutter});
  padding-top: 0;
  padding-right: 0;
  margin-left: -#{$tm-grid-gutter};
  margin-bottom: -#{$tm-grid-gutter};
}

.#{$prefix}-g-grid + .#{$prefix}-g-grid {
  padding-top: 0;
}

.#{$prefix}-g-grid--full.#{$prefix}-g-grid--full {
  @extend .#{$prefix}-g-grid;
  width: calc(80% + #{$tm-grid-gutter});
  max-width: none;
  padding-right: 0;
  margin-left: -#{$tm-grid-gutter};
}

.#{$prefix}-g-grid--gutterless.#{$prefix}-g-grid--gutterless {
  @extend .#{$prefix}-g-grid;
  padding-left: 16px;
  width: calc(100% + #{$tm-grid-gutter});

  [class*='#{$prefix}-g-column'] {
    padding-left: 0;
  }
}

.#{$prefix}-g-grid--full-gutterless.#{$prefix}-g-grid--full-gutterless {
  @extend .#{$prefix}-g-grid;
  width: calc(100% + #{$tm-grid-gutter});
  max-width: none;
  padding-right: 0;
  margin-left: -#{$tm-grid-gutter};

  [class*='#{$prefix}-g-column'] {
    padding-left: 0;
    padding-bottom: 0;
  }
}

[class*='#{$prefix}-g-column'] {
  display: inline-block;
  padding-left: $tm-grid-gutter;
  padding-bottom: $tm-grid-gutter;
  font-size: 1rem;
  vertical-align: top;
  @media screen and (max-width: $tm-mq-mobile) {
    width: 100%;
    margin-left: 0;
  }
}
@for $i from 1 through $tm-grid-width {
  .#{$prefix}-g-column-#{$i},
  .#{$prefix}-g-column-#{$i}\@ld {
    width: $i / $tm-grid-width * 100%;
  }

  .#{$prefix}-g-offset-#{$i} {
    margin-left: $i / $tm-grid-width * 100%;
  }
  @each $point, $break in $tm-mq-classes {
    .#{$prefix}-g-column-#{$i}\@#{$point} {
      @media screen and (max-width: $break) {
        width: $i / $tm-grid-width * 100%;
      }
    }

    .#{$prefix}-g-offset-#{$i}\@#{$point} {
      @media screen and (max-width: $break) {
        margin-left: $i / $tm-grid-width * 100%;
      }
    }
  }
}
