.tm-c-title  {
  font-family: 'Brady Bunch Remastered';
  font-size: 200px;
  display: none;
}

.tm-c-masthead {
  max-width: 680px;
  margin: 0 auto;
  padding: 20px;

  .tm-c-logo {
    margin: 30px auto 70px;
    display: block;

    @media only screen and (max-width: $tm-mq-tablet) {
      width: 100%;
      margin: 55px auto 0;
    }
  }
  .tm-c-secondary {
    margin: 0 auto 0;
    display: block;
  }
}
