// Mixin: Media queries

@mixin mq($from: false, $until: false) {
  $min-width: $from;
  $max-width: $until;
  $media: null;

  @if $min-width != false and $max-width != false {
    $media: '(min-width: #{$min-width}) and (max-width: #{$max-width})';
  } @elseif $min-width != false {
    $media: '(min-width: #{$min-width})';
  } @elseif $max-width != false {
    $media: '(max-width: #{$max-width})';
  }

  @media #{$media} {
    @content;
  }
}